{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Edit entry</h2>
    <p>Related topic: <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Save changes</button>
        {% endbuttons %}
    </form>

{% endblock content %}

